/* GLOBAL */
html,
body {
    background: #232220;
    color: #c2d0da;
    font-family: "Quicksand", sans-serif;
}

/* END GLOBAL */

/* DARK HEADER CSS */
.dark #switchButton .fa-sun {
    display: block;
    font-size: 20px;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .header__right .search__bar .search .search__input {
    display: flex;
    padding: 10px 50px 10px 20px;
    height: 45px;
    color: rgba(22, 28, 45, 0.7);
    border: none;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    right: 0;
    background: #282828;
    outline: 0;
    border: 1px solid #282828;
}

/* END DARK HEADER CSS */

/* DARK ABOUT CSS */
.dark .about {
    background: #282828;
}

.dark .about__we {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #eee;
}

.dark .about_right p {
    font-size: 18px;
    line-height: 28px;
    color: #c2d0da;
    font-family: 'Quicksand', sans-serif;
}

/* END DARK ABOUT CSS */

/* DARK CATEGORIES */
.dark .categories {
    background-color: #282828 !important;
}

.dark .title {
    color: white;
}

/* DARK FEATURES */
.dark .features {
    background-color: #232220;
}

.dark .details__nameFood a {
    color: white;
}

.dark .details__nameFood p,
.dark .details__bottom p {
    color: #c2d0da;
}

/* DARK DELICIOUSNESS */
.dark .deliciousness,
.dark .counting__wrapper {
    background-color: #232220;
}

.dark .deliciousness__counting .counting__wrapper:hover {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 0px;
}

.dark .counting__wrapper h1 {
    color: white;
}

.dark .counting__wrapper p {
    color: #c2d0da;
}