* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #161c2db3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}

.text__center {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.before__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600 !important;
  display: block;
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .before__title {
    font-size: 16px;
  }
}

.title {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .title {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 1080px) {
  .title {
    font-size: 38px;
    line-height: 48px;
  }
}

.light * {
  color: black;
}

.dark * {
  color: red;
}

.light header {}

.dark header {}

/* CATEGORIES */
.categories {
  padding-bottom: 90px;
}

.categories .gap_row {
  row-gap: 30px;
}

.col__wrapper {
  position: relative;
}

.col__wrapper .col__img img {
  filter: brightness(0.8);
  transition: all 0.5s;
}

.col__wrapper .col__img img:hover {
  filter: brightness(1);
}

.col__nameFood {
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.col__img a,
.col__nameFood a {
  text-decoration: none;
  font-weight: 600;
}

.col__nameFood h4 {
  color: white;
  margin-bottom: 10px;
}

.col__nameFood span {
  color: #ffc600;
}

/* FEATURES */
.feature__content {
  padding: 50px 0;
}

.feature__content .row {
  padding: 50px 0;
  row-gap: 30px;
}

.features__wrapper {
  padding: 0;
}

.col__details {
  padding: 30px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(219, 213, 213, 0.4);
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 3%);
  transition: all 0.5s;
}

.col__details:hover {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 15%);
}

.col__details:hover .details__icon i {
  background-color: #ff6600;
  color: white;
}

.details__top .details__icon {
  margin: 0px;
}

.details__top .details__icon i {
  border: 1px solid transparent;
  background-color: rgba(130, 115, 252, .05);
  border-radius: 5px;
  padding: 20px;
  font-size: 25px;
  color: #ff6600;
  transition: all 0.5s;
}

.details__top .details__nameFood {
  margin-left: 25px;
}

.details__top .details__nameFood p {
  color: rgba(22, 28, 45, 0.6);
  font-size: 18px;
}

.details__top .details__nameFood a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.details__top .details__nameFood a:hover {
  color: #ff6600;
}

.details__bottom p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 0;
  color: rgba(22, 28, 45, 0.6);
}