/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #161c2db3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #232121;
  font-family: "Quicksand", sans-serif;
}

.text__center {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.before__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600 !important;
  display: block;
  font-family: "Pacifico", cursive;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .before__title {
    font-size: 16px;
  }
}

.title {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

@media (min-width: 480px) {
  .title {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 1080px) {
  .title {
    font-size: 38px;
    line-height: 48px;
  }
}

/* .light * {
  color: black;
}

.dark * {
  color: red;
} */

/* .light header {}

.dark header {} */



/* HEADER CSS */
.light header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* END HEADER CSS */


/* CAROUSEL CSS */
.carousel {
  background-image: linear-gradient(to right,
      #ff6600,
      hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  /* background-attachment: dùng để kiểm soát hình nền liên quan đến khung hình
  - Fixed: hình nền được cố định vào khung nhìn và không di chuyển, ngay cả người dùng di chuyển dọc theo khung.
  - Local: cố định hình theo vị trí của nó trong phần tử. Nếu phần tử có một cơ chế di chuyển và hình nền được đặt lên hàng đầu, khi người dùng cuộn xuống phần tử, hình nền sẽ di chuyển ra khỏi tầm nhìn.
  - Scroll: có nghĩa là các hình nền cố định và sẽ không di chuyển ngay cả với các nội dung của các phần tử của nó. */
  background-attachment: fixed;
  min-height: 700px;
  overflow: hidden;
}

.carousel .carousel__title {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.carousel .carousel__title h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
}   

.carousel .carousel__content {
  max-width: 600px;
  text-align: left;
}

.carousel .carousel__content p {
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.btn__white {
  background: transparent;
  color: white;
  border: 2px solid white;

  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn__white:hover {
  background: white;
  border: 2px solid white;
  color: #ff6600;
}

@media (min-width: 992px) {
  .pr-lg-5 {
    padding-right: 3rem !important;
  }
}

@media (min-width: 768px) {
  .mt-md-4 {
    margin-top: 1.5rem !important;
  }
}

/* END CAROUSEL CSS */

/* CATEGORIES */
.categories {
  padding-bottom: 90px;
}

.categories .gap_row {
  row-gap: 30px;
}

.col__wrapper {
  position: relative;
}

.col__wrapper .col__img img {
  filter: brightness(0.8);
  transition: all 0.5s;
}

.col__wrapper .col__img img:hover {
  filter: brightness(1);
}

.col__nameFood {
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.col__img a,
.col__nameFood a {
  text-decoration: none;
  font-weight: 600;
}

.col__nameFood h4 {
  color: white;
  margin-bottom: 10px;
}

.col__nameFood span {
  color: #ffc600;
}